*.txt linguist-language=TI-BASIC
*.txt linguist-documentation=false
*.txt linguist-detectable=true

*.8xp linguist-language=TI-BASIC
*.8xp binary
*.8xp linguist-detectable=true

*.md linguist-documentation=false
