*.8xp.txt linguist-language=TI-BASIC
*.8xp.txt linguist-documentation=false
*.8xp.txt linguist-detectable=true

*.8xp binary
*.8xp linguist-language=TI-BASIC
*.8xp linguist-detectable=true

*.md linguist-documentation=false
